<button id="hamburger" class="md:hidden" aria-label="Open menu">
  <svg
    aria-hidden="true"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="#F4F4F4"
    style="--sl-icon-size: 1em;"
    ><path
      d="M3 8h18a1 1 0 1 0 0-2H3a1 1 0 0 0 0 2Zm18 8H3a1 1 0 0 0 0 2h18a1 1 0 0 0 0-2Zm0-5H3a1 1 0 0 0 0 2h18a1 1 0 0 0 0-2Z"
    ></path>
  </svg>
</button>

<button id="close" class="hidden" aria-label="Close menu">
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M18 6L6 18"
      stroke="#F4F4F4"
      stroke-width="2"
      stroke-linecap="square"
      stroke-linejoin="round"></path>
    <path
      d="M6 6L18 18"
      stroke="#F4F4F4"
      stroke-width="2"
      stroke-linecap="square"
      stroke-linejoin="round"></path>
  </svg>
</button>

<nav
  id="menu"
  class="fixed inset-0 top-[50px] hidden flex-col items-center justify-center bg-indigo-950 text-white"
>
  <ul>
    <li><a href="/product" class="block p-4 text-xl">PRODUCTO</a></li>
    <li><a href="/about" class="block p-4 text-xl">SOBRE NOSOTROS</a></li>
    <li><a href="/news" class="block p-4 text-xl">NOTICIAS</a></li>
    <li><a href="/contact" class="block p-4 text-xl">CONTACTO</a></li>
  </ul>
  <div class="language-switcher absolute bottom-5">ES | EU | EN</div>
</nav>

<script type="module">
  const hamburger = document.getElementById("hamburger");
  const menu = document.getElementById("menu");
  const close = document.getElementById("close");

  hamburger?.addEventListener("click", () => {
    menu?.classList.remove("hidden");
    hamburger?.classList.add("hidden");
    close?.classList.remove("hidden");
  });

  close?.addEventListener("click", () => {
    hamburger?.classList.remove("hidden");
    close?.classList.add("hidden");
    menu?.classList.add("hidden");
  });
</script>
