---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Noticias" description="Noticias de Recharge">
  <div class="flex flex-col justify-center gap-10 pb-16 pt-8">
    <h1 class="text-center text-2xl lg:text-3xl">
      Gran Final del programa EIT-JUMPSTATER
    </h1>

    <section class="flex flex-col gap-10 px-4 lg:px-12">
      <p class="text-center text-xs text-custom-green">20/04/2023</p>

      <img src="/images/test.png" alt="Post Image" />

      <p>
        La startUP Recharge Recycling to Protect empresa dedicada al
        mantenimiento del material rodante ferroviario vinculada al ecosistema
        de BIC-Bidasoa Activa, ha sido seleccionada para la Gran Final del
        programa EIT-JUMPSTATER (<a
          href="https://grandfinal.eitjumpstarter.eu/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-custom-green">https://grandfinal.eitjumpstarter.eu/</a
        >). El EIT-Jumpstarter es un programa pre-acelerador para startUPs
        innovadoras en nueve campos temáticos: Digital, Alimentación, Salud,
        Innoenergía, Fabricación, Materias Primas, Movilidad Urbana, Nueva
        Bauhaus Europea y Reconstruir Ucrania. El programa está coordinado por
        EIT Health InnoStars.
      </p>
      <p>
        <span class="italic">Recharge Recycling to Protect</span> está vinculado
        al instituto EIT-Urban Mobility (<a
          href="https://www.eiturbanmobility.eu/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-custom-green">https://www.eiturbanmobility.eu/</a
        >), el cual ha celebrado su Congreso Mundial - TOMORROW Mobility (<a
          href="https://www.tomorrowmobility.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-custom-green">https://www.tomorrowmobility.com/</a
        >) englobado dentro de Smart Cities, en la FIRA de Barcelona. Recharge
        Recycling to Protect ha podido asistir y conocer de prima mano las
        soluciones y tecnologías para una movilidad sostenible
        (#SustainableMobility) y lograr la neutralidad medioambiental
        (#NetZeroCities). El próximo año 2024, se celebra en Feria Internacional
        de Ficoba de Irún, la <span class="font-bold"
          >MUBIL - Feria Profesional de la Industria de la Movilidad Sostenible
          en el sur de Europa</span
        > (<a
          href="https://www.mubilexpo.eus/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-custom-green">https://www.mubilexpo.eus/</a
        >) y la que Recharge Recycling to Protect presentará novedades y
        soluciones en el marco del proyecto estratégico para la ciudad de IRUN
        (#viaIRUN) de reurbanización centrado en el ciudadano y la movilidad
        sostenible.
      </p>
    </section>
  </div>
</MainLayout>
