@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-ThinItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Suprema";
  src: url("/fonts/Suprema-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
