---
import MainLayout from "@layouts/MainLayout.astro";
import InfoCard from "@components/InfoCard.astro";
import Form from "@components/Form.astro";
---

<MainLayout title="Contact" description="Contact Page">
  <div class="px-4 py-12 md:px-12">
    <section class="container-grid">
      <h1 class="header-grid text-5xl font-bold text-custom-dark">Contact</h1>

      <div class="info-grid">
        <p class="pt-5">
          Want to know more? Contact us and we’ll be happy to help:
        </p>

        <div class="my-4 w-full border-t border-custom-dark-green opacity-60">
        </div>

        <div class="hidden-phone"><InfoCard /></div>
      </div>

      <!-- Form -->
      <div class="form-grid"><Form /></div>

      <div
        class="my-4 w-full border-t border-custom-dark-green opacity-60 md:hidden"
      >
      </div>

      <div class="md:hidden"><InfoCard /></div>
    </section>
  </div>
</MainLayout>

<style>
  @media screen and (max-width: 767px) {
    .hidden-phone {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .container-grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: min-content;
      grid-template-areas:
        "header-grid header-grid"
        "info-grid form-grid";
      column-gap: 30px;
      row-gap: 0;
    }

    .header-grid {
      grid-area: header-grid;
    }

    .info-grid {
      grid-area: info-grid;
    }

    .form-grid {
      grid-area: form-grid;
    }
  }
</style>
