---
import MainLayout from "@layouts/MainLayout.astro";
import ArrowTitle from "@components/ArrowTitle.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";

const cards = [
  {
    id: 1,
    title: "1.",
    titleColor: "custom-dark-green",
    text: "Removable axle protectors (class 1) available as sleeves and/or covers, compliant with ERWA - Coating for Axle Guideline specifications.",
  },
  {
    id: 2,
    title: "2.",
    titleColor: "custom-green",
    text: "Protection panels for train auxiliary systems including communication antennae, pneumatic installations, and under bogie systems such as suspension and/or air conditioning.",
  },
  {
    id: 3,
    title: "3.",
    titleColor: "custom-blue",
    text: "Front end protection systems for light rail.",
  },
];
---

<MainLayout title="Recharge" description="Home Recharge Web">
  <div class="background-pattern">
    <section class="px-4 py-12">
      <h1 class="text-5xl font-bold text-custom-dark">What is Recharge?</h1>

      <p class="py-5">
        Specialists in the design and supply of impact protection equipment for
        the railway sector.
      </p>

      <Button href="/about/">About Us</Button>

      <div class="pt-8">
        <p class="custom-card-green max-w-[44.5rem] text-sm text-white">
          This project is supported by EIT Urban Mobility, an initiative of the
          European Institute of Innovation and Technology (EIT), a body of the
          European Union. EIT Urban Mobility acts to accelerate positive change
          on mobility to make urban spaces more liveable. Learn more:
          eiturbanmobility.eu
        </p>
      </div>
    </section>

    <section class="background-dark-blurry">
      <div class="px-4 pb-8 pt-4">
        <ArrowTitle title="WHY RECHARGE?" colorText="white" />
        <h3 class="pt-5 text-xl text-white">
          Flexible, recycled, lightweight: Protecting the things that matter.
        </h3>
        <p class="py-5 text-white">
          We supply the rail sector with energy absorbers to protect rolling
          stock against ice and ballast impact.
        </p>

        <div class="grid gap-4 md:grid-cols-3">
          {
            cards.map(card => (
              <div class="flex flex-col">
                <Card
                  title={card.title}
                  titleColor={card.titleColor}
                  text={card.text}
                />
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </div>
</MainLayout>
