---
import MainLayout from "@layouts/MainLayout.astro";
import ArrowTitle from "@components/core/ArrowTitle.astro";
---

<MainLayout title="About" description="About Page">
  <h1>Conoce nuestro producto</h1>
  <p>
    Nuestros sistemas de protección Recharge vienen a maximizar el ciclo de vida
    de los bogies, reducir costes de mantenimiento y proporcionar una ventaja
    competitiva gracias al desarrollo de una tecnología propia.
  </p>

  <ArrowTitle title="¿QUIERES SABER CÓMO?" />

  <p>
    La solución Recharge sustituye los sistemas de protección basados en
    recubrimientos y/o pinturas que impiden las tareas de inspección y el
    mantenimiento del bogie a través de una solución de protección retirable,
    modular, personalizable, reparable y reutilizable fabricada en materiales
    compuestos reciclados. La innovación tecnológica reside en el empleo de
    estructuras celulares que permiten un comportamiento auxético de los
    sistemas de protección.
  </p>

  <!-- Card -->

  <div class="flex-1 rounded bg-indigo-950 p-4 text-white shadow">
    <p>
      La solución de absorbedor de impacto* para eje montado es capaz de
      absorber 9 veces la energía de impacto a baja velocidad, hasta 120km/h.
    </p>
    <img src="" alt="" svg-inline />
    <p>
      *Validación de impacto con una punta cónica de 120º como exige la
      normativa.
    </p>
  </div>

  <ArrowTitle title="¿Quieres conocer nuestro proceso?" />
</MainLayout>
