---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Contact" description="Contact Page">
  <h1>Contacto</h1>
  <p>
    ¿Quieres saber más sobre nuestro producto o cómo trabajamos? No dudes en
    ponerte en contacto con nosotros.
  </p>

  <form action=""></form>
</MainLayout>
