---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Legal" description="Aviso Legal Page">
  <div class="px-4 py-12 md:px-12">
    <h1 class="header-grid text-5xl font-bold text-custom-dark">Aviso legal</h1>

    <ol class="list-decimal p-6">
      <li>
        <h3>Titularidad de la Página Web</h3>
        <p>
          De acuerdo con el artículo 10 de la Ley 34/2002, de 11 de julio, de
          Servicios de la Sociedad de la Información y del Comercio Electrónico
          se informa al usuario que la página web es titularidad de Recharge
          Recycling to Protect sl con DNI/CIF: B70642327 y domicilio en
          Iparraguirre 8 (20304) Irun Gipuzkoa inscrita en el Registro Mercantil
          de Gipuzkoa Tomo 3'41 Folio 37 Hoja SS-46961, inscripción 1, en
          adelante, RESPONSABLE. La presente información conforma y regula las
          condiciones de uso , las limitaciones de responsabilidad y las
          obligaciones que los usuarios de la pagina web asumen y se comprometen
          a respetar.
        </p>
      </li>
      <li>
        <h3>Términos y condiciones de uso</h3>
        <p>
          El acceso a esta página web atribuye la condición de USUARIO, quien
          accede voluntariamente a este sitio web. El acceso y navegación en
          este sitio web implica aceptar y conocer las advertencias legales,
          condiciones y términos de uso contenidos en dicho sitio web. El mero
          acceso no implica el establecimiento de ningún tipo de relación
          comercial entre el USUARIO y el TITULAR DE LA WEB. La información
          suministrada en la página web tiene como finalidad facilitar el
          conocimiento por parte de los usuarios de las actividades y de los
          servicios que presta el RESPONSABLE quien se reserva el derecho de
          efectuar, en cualquier momento cuantas modificaciones, variaciones,
          supresión o cancelaciones de los contenidos y en la forma de
          presentación de los mismos que considere necesaria para la prestación
          de los servicios. Esta facultad no otorga a los usuarios ningún
          derecho a percibir indemnización por daños y perjuicios, por lo que se
          recomienda al USUARIO que lea este Aviso Legal tantas veces como
          acceda a la web.
        </p>
      </li>
      <li>
        <h3>Uso indebido</h3>
        <p>
          El USUARIO asume la responsabilidad del uso del portal,
          comprometiéndose a realizar un buen uso de la página web y aportar
          información veraz y lícita, no permitiéndose conductas que vayan
          contra la ley, los derechos o intereses de terceros.La utilización de
          ciertos servicios o solicitudes a el RESPONSABLE estarán condicionadas
          a la previa cumplimentación del correspondiente formulario de recogida
          de datos. A estos efectos, el USUARIO será responsable de la
          información falsa o inexacta que pudiera realizar o comunicar y de los
          perjuicios que cause a el RESPONSABLE se reserva el derecho a denegar
          o retirar el acceso a la web a aquellos USUARIOS que incumplen las
          condiciones y obligaciones de la presente página web.
        </p>
      </li>
      <li>
        <h3>Exclusión de garantías y responsabilidad</h3>
        <p>
          El RESPONSABLE no se responsabiliza del mal uso que se realice de los
          contenidos de la página web, y no se hace responsable en ningún caso,
          de los daños y perjuicios de cualquier naturaleza que pudiera
          ocasionar el funcionamiento de la página web y/o sus servicios ni
          garantizar la utilidad de la página web, ni que el usuario pueda
          utilizar en todo momento la web o los servicios que se ofrezcan. El
          RESPONSABLE no puede garantizar la fiabilidad, veracidad,
          exhaustividad y actualidad de los contenidos y, por tanto queda
          excluida cualquier tipo de responsabilidad que pudiera derivarse por
          los daños causados, directa o indirectamente, por la información a la
          que se acceda por medio de la web. No obstante, el RESPONSABLE declara
          que ha adoptado todas las medidas necesarias, dentro de sus
          posibilidades y del estado de la tecnología, para garantizar el
          funcionamiento de la página web y evitar la existencia y transmisión
          de virus y demás componentes dañinos a los usuarios.
        </p>
      </li>
      <li>
        <h3>Enlaces</h3>
        <p>
          En el caso de que en en el sitio web se dispusiesen enlaces o
          hipervínculos hacía otros sitios de Internet. La páina web en la que
          se establezca el hiperenlace no contendrá informaciones o contenidos
          ilícitos, contrarios a la moral o buenas costumbres. No se realizarán
          manifestaciones o indicaciones falsas, inexactas u ofensivas sobre
          directivos, empleados, colaboradores o de las personas que se
          relacionen en la página por cualquier motivo , o de los usuarios de la
          página, o de los contenidos suministrados.
        </p>
      </li>
      <li>
        <h3>Propiedad intelectual e industrial</h3>
        <p>
          El Copyright, diseño y creación de la página web es titularidad de el
          RESPONSABLE. El acceso gratuito no implica otros derechos o licencias
          para reproducción y/o distribución sin la previa autorización expresa
          del propietario, por lo que, de conformidad con lo dispuesto en los
          artículos 8 y 32.1, párrafo segundo, de la Ley de Propiedad
          Intelectual, quedan expresamente prohibidas la reproducción,
          distribución y comunicación pública de la totalidad o parte de los
          contenidos de esta página web, con fines comerciales, en cualquier
          soporte y por cualquier medio técnico sin previa autorización,
          comprometiéndose el USUARIO en respetar los derechos de Propiedad
          Intelectual e Industrial. Las marcas, logotipos, diseños, contenidos,
          programas u objetos similares que forman parte de esta página web,
          están protegidos por leyes de propiedad industrial e intelectual. La
          reproducción, distribución, manipulación o desensamblaje no autorizado
          de los códigos fuente, de los algoritmos incorporados o de la base
          datos, ya sea total o parcial, dará lugar a graves penalizaciones
          tanto civiles como penales y será objeto de cuantas acciones
          judiciales correspondan en Derecho.
        </p>
      </li>
      <li>
        <h3>Política de privacidad y protección de datos</h3>
        <p>
          En virtud de lo dispuesto en el Reglamento General de Protección de
          Datos (RGPD), Reglamento UE 2016/679 y LOPD GDD 3/2018, relativo a la
          protección de las personas físicas en lo que respecta al tratamiento
          de datos personales y a la libre circulación de los mismos, se informa
          al USUARIO que todos los datos que proporcione serán incorporados a un
          Registro de Actividades, creado y mantenido bajo la responsabilidad de
          el RESPONSABLE con el fin de gestionar el envío de la información que
          soliciten, facilitar al interesado ofertas de productos y servicios de
          su interés y mejorar su experiencia de usuario. No se tomarán
          decisiones automatizadas ni elaboración de perfiles en base a los
          datos aportados. Los datos personales proporcionados se conservarán
          mientras se mantenga la relación mercantil, en su caso, y no se
          solicite su supresión por el interesado. Para ello, el RESPONSABLE
          solicitará el consentimiento del interesado a través del formulario de
          recogida de datos para el tratamiento de los mismos , estando el
          USUARIO legitimado para retirar dicho consentimiento en cualquier
          momento, así como a ejercer sus derechos de acceso, rectificación,
          portabilidad, , limitación, supresión, oposición de sus datos, y a
          presentar una reclamación ante la autoridad de control , si considera
          que el tratamiento no se ajusta a la normativa vigente. Los contenidos
          de la página web están dirigidos a personas mayores de edad, el
          RESPONSABLE no pretende obtener datos de personas menores de edad, y
          cuando tenga conocimiento de que existen en su fichero datos de
          carácter personal de un menor, procederá de inmediato a cancelar
          dichos datos.
        </p>
      </li>
      <li>
        <h3>Legislación aplicable y jurisdicción</h3>
        <p>
          La relación con el USUARIO se regirá por la normativa española vigente
          y cualquier controversia se someterá a los Juzgado y tribunales que
          correspondan en España y salvo que la legislación aplicable determine
          de forma imperativa otro fuero o legislación distinta.
        </p>
      </li>
    </ol>
  </div>

  <style>
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--custom-dark);
    }
  </style>
</MainLayout>
