---
import { getCollection } from "astro:content";
import MainLayout from "@layouts/MainLayout.astro";
import Button from "@components/Button.astro";

const spanishDocsEntries = await getCollection("posts", ({ id }) => {
  return id.startsWith("es/");
});
---

<MainLayout title="Noticias" description="Noticias de Recharge">
  <div class="px-4 py-12 md:px-12">
    <h1 class="text-5xl font-bold text-custom-dark">Noticias</h1>
    <div class="pt-4">
      <ul>
        {
          spanishDocsEntries.map(entry => (
            <article class="bg-custom-dark shadow-md">
              <figure>
                <img src="/images/test.png" alt={entry.data.image.alt} />
              </figure>
              <section>
                <p class="text-xs text-custom-green">
                  {entry.data.pubDate.toLocaleDateString()}
                </p>

                <h3 class="text-lg font-semibold text-white">
                  {entry.data.title}
                </h3>
                <p class=" text-white">
                  Recharge participa en un webinar hablando de "Núcleo Auxético
                  Impresión 3D" - Mondragón Universitatea.
                </p>
                <footer>
                  <Button href="" background="green">
                    Leer
                  </Button>
                </footer>
              </section>
            </article>
          ))
        }
      </ul>
    </div>
  </div>
</MainLayout>

<style>
  article {
    width: 325px;
    height: 550px;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  figure img {
    width: auto;
    height: 295px;
    object-fit: cover;
  }

  section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  section footer {
    display: flex;
    flex-direction: row-reverse;
  }
  @media (min-width: 768px;) {
    article {
      width: 550px;
      height: 325px;
      display: flex;
      flex-direction: row;
    }
  }
</style>
