---
export interface Props {
  href: string;
  ariaLabel?: string;
  disabled?: boolean;
  background?: string;
}

const { href, ariaLabel, disabled = false, background = "dark" } = Astro.props;
---

<button class={`bg-custom-${background}`}>
  <a
    href={disabled ? "#" : href}
    aria-label={ariaLabel}
    aria-disabled={disabled}
  >
    <slot />
  </a>
</button>

<style>
  button {
    padding: 0.5rem 1.5rem;
    border-radius: 122px;
    color: white;
  }
</style>
