<form action="">
  <div class="pb-6">
    <label for="name">Nombre: *</label>
    <input type="text" name="name" required placeholder="Nombre" />
  </div>

  <div class="pb-6">
    <label for="email">Email: *</label>
    <input type="email" name="email" required placeholder="Email" />
  </div>

  <div class="pb-6">
    <label for="phone">Número de teléfono: *</label>
    <input type="tel" name="phone" required placeholder="Número de teléfono" />
  </div>

  <div class="pb-6">
    <label for="language">Idioma: *</label>
    <select name="language" id="language">
      <option value="es">Castellano</option>
      <option value="en">English</option>
      <option value="eu">Euskera</option>
    </select>
  </div>

  <div class="pb-6">
    <label for="message">Mensaje: *</label>
    <textarea name="message" required placeholder="Mensaje"></textarea>
  </div>

  <button>Submit</button>
</form>
