---
import Menu from "@components/Menu.astro";
import { Image } from "astro:assets";
import rechargeLogo from "@assets/svg/recharge-logo.svg";
---

<header
  class="flex h-[50px] w-full items-center justify-between bg-indigo-950 px-4"
>
  <a href="/">
    <Image src={rechargeLogo} alt="Recharge Logo" />
  </a>

  <Menu />
</header>
