---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article class="info-card bg-custom-dark text-custom-gray">
  <h2 class="text-lg">Recharge Recycling to Protect</h2>
  <section>
    <h5>{t("infoCard.address")}</h5>
    <p>Hendaia Kalea, 8 Palacio Ducoureau 20301 Irun, Gipuzkoa</p>
    <h5>{t("infoCard.phone")}</h5>
    <p>+(34) 677 03 62 83</p>
    <h5>{t("infoCard.email")}</h5>
    <p>info@recharge.eus</p>
  </section>
</article>

<style>
  .info-card {
    width: 100%;
    display: inline-flex;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.125rem;
    border-radius: 0.625rem;
  }

  .info-card h2 {
    font-weight: 700;
  }

  .info-card h5 {
    font-weight: 700;
  }
</style>
