---
import { languages } from "@i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";

const url = new URL(Astro.request.url);
const currentLang = getLangFromUrl(url);
const translatePath = useTranslatedPath(currentLang);
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li class={currentLang === lang ? "current-lang" : ""}>
        <a href={translatePath(url.pathname, lang)}>{label.toUpperCase()}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    gap: 1rem;
  }

  .current-lang a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    padding-bottom: 3px;
  }
</style>
