---
import LanguagePicker from "@components/LanguagePicker.astro";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav id="menu-desktop" class="flex flex-row items-center gap-6 text-white">
  <a href={translatePath("/product")}>{t("nav.product")?.toUpperCase()}</a>
  <a href={translatePath("/about")}>{t("nav.about")?.toUpperCase()}</a>
  <a href={translatePath("/blog")}>{t("nav.news")?.toUpperCase()}</a>
  <a href={translatePath("/contact")}>{t("nav.contact")?.toUpperCase()}</a>

  <svg
    width="2"
    height="33"
    viewBox="0 0 2 33"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M1 0V16.25V32.5" stroke="#F4F4F4" stroke-width="0.5"></path>
  </svg>

  <LanguagePicker class="flex gap-3" />
</nav>

<button id="hamburger" class="md:hidden" aria-label="Open menu">
  <svg
    aria-hidden="true"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="#F4F4F4"
    style="--sl-icon-size: 1em;"
    ><path
      d="M3 8h18a1 1 0 1 0 0-2H3a1 1 0 0 0 0 2Zm18 8H3a1 1 0 0 0 0 2h18a1 1 0 0 0 0-2Zm0-5H3a1 1 0 0 0 0 2h18a1 1 0 0 0 0-2Z"
    ></path>
  </svg>
</button>

<button id="close" class="hidden" aria-label="Close menu">
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M18 6L6 18"
      stroke="#F4F4F4"
      stroke-width="2"
      stroke-linecap="square"
      stroke-linejoin="round"></path>
    <path
      d="M6 6L18 18"
      stroke="#F4F4F4"
      stroke-width="2"
      stroke-linecap="square"
      stroke-linejoin="round"></path>
  </svg>
</button>

<nav
  id="menu-mobile"
  class="fixed inset-0 top-[50px] hidden flex-col items-center justify-center bg-indigo-950 text-white"
>
  <ul>
    <li>
      <a href={translatePath("/product")} class="block p-4 text-xl"
        >{t("nav.product")?.toUpperCase()}</a
      >
    </li>
    <li>
      <a href={translatePath("/about")} class="block p-4 text-xl"
        >{t("nav.about")?.toUpperCase()}</a
      >
    </li>
    <li>
      <a href={translatePath("/blog")} class="block p-4 text-xl"
        >{t("nav.news")?.toUpperCase()}</a
      >
    </li>
    <li>
      <a href={translatePath("/contact")} class="block p-4 text-xl"
        >{t("nav.contact")?.toUpperCase()}</a
      >
    </li>
  </ul>
  <div class="absolute bottom-6 left-6">
    <LanguagePicker />
  </div>
</nav>

<style>
  #menu-mobile {
    z-index: 2;
  }
  @media (max-width: 767px) {
    #menu-desktop {
      display: none;
    }
  }
</style>

<script type="module">
  const body = document.body;
  const hamburger = document.getElementById("hamburger");
  const menu = document.getElementById("menu-mobile");
  const close = document.getElementById("close");

  hamburger?.addEventListener("click", () => {
    menu?.classList.remove("hidden");
    hamburger?.classList.add("hidden");
    close?.classList.remove("hidden");
    body?.classList.add("no-scroll");
  });

  close?.addEventListener("click", () => {
    hamburger?.classList.remove("hidden");
    close?.classList.add("hidden");
    menu?.classList.add("hidden");
    body?.classList.remove("no-scroll");
  });
</script>
