---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Harremanetarako" description="Contact Page">
  <div class="px-4 py-12 md:px-12">
    <section class="container-grid">
      <h1 class="header-grid text-5xl font-bold text-custom-dark">
        Harremanetarako
      </h1>

      <div class="info-grid">
        <p class="text-grid pt-5">
          Gure produktuari buruz edo nola lan egiten dugun jakin nahi duzu?
          Jarri gurekin harremanetan:
        </p>

        <div
          class="separator-grid my-4 w-full border-t border-custom-dark-green opacity-60"
        >
        </div>

        <div class="card-grid">
          <div class="info-card bg-custom-dark text-custom-gray">
            <h2 class="text-lg font-bold">Recharge Recycling to Protect</h2>
            <section>
              <p class="font-bold">Helbidea</p>
              <p>Hendaia Kalea, 8 Palacio Ducoureau 20301 Irun, Gipuzkoa</p>
              <p class="font-bold">Telefono zenbakia</p>
              <p>+(34) 677 03 62 83</p>
              <p class="font-bold">Posta Elektronikoa</p>
              <p>info@recharge.eus</p>
            </section>
          </div>
        </div>
      </div>

      <p class="text-grid pt-5 md:hidden">
        Gure produktuari buruz edo nola lan egiten dugun jakin nahi duzu? Jarri
        gurekin harremanetan:
      </p>

      <div
        class="separator-grid my-8 w-full border-t border-custom-dark-green opacity-60 md:my-0 md:hidden"
      >
      </div>

      <!-- Form -->
      <form action="POST" class="form-grid">
        <div class="pb-6">
          <label for="name">Izena: <sup>*</sup></label>
          <input type="text" name="name" required placeholder="Izena" />
        </div>

        <div class="pb-6">
          <label for="email">Posta Elektronikoa: <sup>*</sup></label>
          <input
            type="email"
            name="email"
            required
            placeholder="Posta Elektronikoa"
          />
        </div>

        <div class="pb-6">
          <label for="phone">Telefono zenbakia: <sup>*</sup></label>
          <input
            type="tel"
            name="phone"
            required
            placeholder="Telefono zenbakia"
          />
        </div>

        <div class="pb-6">
          <label for="language">Hizkuntza: <sup>*</sup></label>
          <select name="language" id="language">
            <option value="es">Castellano</option>
            <option value="en">English</option>
            <option value="eu">Euskera</option>
          </select>
        </div>

        <div class="pb-6">
          <label for="message">Mezua: <sup>*</sup></label>
          <textarea name="message" required placeholder="Mezua"></textarea>
        </div>

        <button>Bidali</button>
      </form>

      <div
        class="my-8 w-full border-t border-custom-dark-green opacity-60 md:hidden"
      >
      </div>

      <!-- Card - Recharge Info -->
      <div class="card-grid md:hidden">
        <div class="info-card bg-custom-dark text-custom-gray">
          <h2 class="text-lg font-bold">Recharge Recycling to Protect</h2>
          <section>
            <p class="font-bold">Helbidea</p>
            <p>Hendaia Kalea, 8 Palacio Ducoureau 20301 Irun, Gipuzkoa</p>
            <p class="font-bold">Telefono zenbakia</p>
            <p>+(34) 677 03 62 83</p>
            <p class="font-bold">Posta Elektronikoa</p>
            <p>info@recharge.eus</p>
          </section>
        </div>
      </div>
    </section>
  </div>
</MainLayout>

<style>
  @media screen and (min-width: 768px) {
    .container-grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: min-content;
      grid-template-areas:
        "header-grid header-grid"
        "info-grid form-grid";
      column-gap: 30px;
      row-gap: 0;
    }

    .header-grid {
      grid-area: header-grid;
    }

    .info-grid {
      grid-area: info-grid;
    }

    .form-grid {
      grid-area: form-grid;
    }
  }

  .info-card {
    width: 100%;
    display: inline-flex;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.125rem;
    border-radius: 0.625rem;
  }
</style>
