---
import MainLayout from "@layouts/MainLayout.astro";
import ArrowTitle from "@components/ArrowTitle.astro";
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const cards = [
  {
    id: 1,
    title: "1.",
    titleColor: "custom-dark-green",
    text: "Kendu daitezken ardatz-babesgailuak (1. motakoa) zorro edota estalki formatuan, ERWA - Coating for Axle Guideline-ren zehaztapenen arabera.",
  },
  {
    id: 2,
    title: "2.",
    titleColor: "custom-green",
    text: "Trenaren sistema osagarriak babesteko panelak; horien artean, komunikazioarako antenak, instalazio pneumatikoak, esekidura eta/edo aire girotua, bogie-aren bastidorearen behealdea.",
  },
  {
    id: 3,
    title: "3.",
    titleColor: "custom-blue",
    text: "Lur azaleko tren-sistema arinen aurrealde edo babes sistemak.",
  },
];
---

<MainLayout title="Recharge" description="Home Recharge Web">
  <div class="background-pattern">
    <section class="px-4 py-12">
      <h1 class="text-5xl font-bold text-custom-dark">Zer da Recharge?</h1>

      <p class="py-5">
        Trenbide-sektoreko osagai ezberdinek jasan ahal dituzten talkei aurre
        egiteko, babesgailuak disienatu eta hornitzen dituen empresa gara.
      </p>

      <Button href={translatePath("/about")}>Nor Gara</Button>

      <div class="pt-8">
        <p class="custom-card-green max-w-[44.5rem] text-sm text-white">
          This project is supported by EIT Urban Mobility, an initiative of the
          European Institute of Innovation and Technology (EIT), a body of the
          European Union. EIT Urban Mobility acts to accelerate positive change
          on mobility to make urban spaces more liveable. Learn more:
          eiturbanmobility.eu
        </p>
      </div>
    </section>

    <section class="background-dark-blurry">
      <div class="px-4 pb-8 pt-4">
        <ArrowTitle title="ZERGATIK RECHARGE?" colorText="white" />
        <h3 class="pt-5 text-xl text-white">
          Garapen malgua, birziklatua, arina: Garrantzitsua dena babesten dugu.
        </h3>
        <p class="py-5 text-white">
          Recharge Recycling to Protect-ek trenbide-sektorean energia
          xurgatzaileak hornitzen ditu, izotzaren edo balastoaren talken aurrean
          material gurpildunak babesteko.
        </p>

        <div class="grid gap-4 md:grid-cols-3">
          {
            cards.map(card => (
              <div class="flex flex-col">
                <Card
                  title={card.title}
                  titleColor={card.titleColor}
                  text={card.text}
                />
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </div>
</MainLayout>
