---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Noticias" description="Noticias de Recharge">
  <div class="flex flex-col justify-center gap-10 pb-16 pt-8">
    <h1 class="text-center text-2xl lg:text-3xl">
      Grand Final of the EIT-JUMPSTATER
    </h1>

    <section class="flex flex-col gap-10 px-4 lg:px-12">
      <p class="text-center text-xs text-custom-green">20/04/2023</p>

      <img src="/images/test.png" alt="Post Image" />

      <p>
        The startUP Recharge Recycling to Protect, a company dedicated to the
        maintenance of railway rolling stock linked to the BIC-Bidasoa Activa
        ecosystem, has been selected for the Grand Final of the EIT-JUMPSTATER
        programme (<a
          href="https://grandfinal.eitjumpstarter.eu/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-custom-green">https://grandfinal.eitjumpstarter.eu/</a
        >). The EIT-Jumpstarter is a pre-accelerator programme for innovative
        startups in nine thematic fields: Digital, Food, Health, Innoenergy,
        Manufacturing, Raw Materials, Urban Mobility, New European Bauhaus and
        Rebuilding Ukraine.
      </p>
    </section>
  </div>
</MainLayout>
