---
import { getCollection } from "astro:content";
import MainLayout from "@layouts/MainLayout.astro";

const spanishDocsEntries = await getCollection("blog", ({ id }) => {
  return id.startsWith("es/");
});
---

<MainLayout title="Noticias" description="Noticias de Recharge">
  <ul>
    {
      spanishDocsEntries.map(entry => (
        <li>
          <h2>{entry.data.title}</h2>
          <img src={entry.data.image.url} alt={entry.data.image.alt} />
        </li>
      ))
    }
  </ul>
</MainLayout>
